<?xml version="1.0" encoding="UTF-8"?>
<!--
       Copyright 2010-2013 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springmvcmaventutorial.dao.MemberMapper">
	<cache />
	<insert id="insertMember">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select nextval('seq_person_id')
		</selectKey>
		insert into 
		PERSON (
			PERSON_ID,
			FIRST_NAME,
			LAST_NAME,
			BIRTH_DATE,
			CITY,
			ZIP_CODE,
			STREET_ADDRESS_1,
			STREET_ADDRESS_2,
			STREET_ADDRESS_3,
			PHONE_NUMBER)
		values (
			#{id, jdbcType=NUMERIC},
			#{firstName, jdbcType=VARCHAR},
			#{lastName, jdbcType=VARCHAR},
			#{birthDate, jdbcType=DATE},
			#{city, jdbcType=VARCHAR},
			#{zipCode, jdbcType=VARCHAR},
			#{streetAddress1, jdbcType=VARCHAR},
			#{streetAddress2, jdbcType=VARCHAR},
			#{streetAddress3, jdbcType=VARCHAR},
			#{phoneNumber, jdbcType=VARCHAR}
			)
	</insert>
	
	<update id="updateMember">
		update
			PERSON
		set 
			FIRST_NAME = #{firstName, jdbcType=VARCHAR},
			LAST_NAME = #{lastName, jdbcType=VARCHAR},
			BIRTH_DATE = #{birthDate, jdbcType=DATE},
			CITY = #{city, jdbcType=VARCHAR},
			ZIP_CODE = #{zipCode, jdbcType=VARCHAR},
			STREET_ADDRESS_1 = #{streetAddress1, jdbcType=VARCHAR},
			STREET_ADDRESS_2 = #{streetAddress2, jdbcType=VARCHAR},
			STREET_ADDRESS_3 = #{streetAddress3, jdbcType=VARCHAR},
			PHONE_NUMBER = #{phoneNumber, jdbcType=VARCHAR}
		where
			PERSON_ID = #{id, jdbcType=NUMERIC}
	</update>
	
	<delete id="deleteMember">
		delete from
			PERSON
		where 
			PERSON_ID = #{personId, jdbcType=NUMERIC}
	</delete>
	<sql id="selectMemberSql">
		select
			PERSON_ID as id,
			FIRST_NAME as firstName,
			LAST_NAME as lastName,
			BIRTH_DATE as birthDate,
			CITY,
			ZIP_CODE as zipCode,
			STREET_ADDRESS_1 as streetAddress1,
			STREET_ADDRESS_2 as streetAddress2,
			STREET_ADDRESS_3 as streetAddress3,
			PHONE_NUMBER as phoneNumber
		from PERSON
	</sql>
	<select id="selectMember" resultType="com.springmvcmaventutorial.bean.Member">
		<include refid="selectMemberSql"/>
		where PERSON_ID = #{personId, jdbcType=NUMERIC}
	</select>
	<select id="selectMemberList" resultType="com.springmvcmaventutorial.bean.Member">
		<include refid="selectMemberSql"/>
	</select>
</mapper>